.inp {
    background-color: #6ec0ef;
    color: black;
    width: 75px;
    max-height: 35px;
    border: none;
    border-radius: 5px;
}

.inputError{
    background-color: palevioletred;
    font-weight: bold;
}