.displayCounter{
    width: 500px;
    height: 400px;
    background-color: #182a36;
    border: 8px solid #70c7ff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.positionMessage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 7px solid #70c7ff;
    border-radius: 15px;
    width: 90%;
    height: 60%;
    font-size: 100px;
    color: #70c7ff;
}

.positionButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 7px solid #70c7ff;
    border-radius: 15px;
    width: 90%;
    height: 15%;

}

.limit {
    color: red;
}