.inputTest{
    background-color: #6ec0ef;
    color: black;
    font-size: 18px;
}

.inputError {
    background-color: #eb6eef;
}

.spanStyle{
    color: white;
    margin-right: 20px;
}

.spanError{
    color: red;
}